.Grid {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.Grid-cell {
  flex: 1;
}

.Grid--flexCells > .Grid-cell {
  display: flex;
}

.Grid--top {
  align-items: flex-start;
}

.Grid--bottom {
  align-items: flex-end;
}

.Grid--center {
  align-items: center;
}

.Grid--justifyCenter {
  justify-content: center;
}

.Grid--spaceAround {
    justify-content: space-around;
}

.Grid--spaceBetween {
    justify-content: space-between;
}

.Grid-cell--top {
  align-self: flex-start;
}

.Grid-cell--bottom {
  align-self: flex-end;
}

.Grid-cell--center {
  align-self: center;
}

.Grid-cell--autoSize {
  flex: none;
}

.Grid-cell--rightSpacer-oneUp {
    margin-right: var(--scale-one-up);
}

.Grid-cell--rightSpacer-twoUp {
    margin-right: var(--scale-two-up);
}

.Grid-cell--moveLeft {
    margin-right: auto;
}

.Grid--relative {
    position: relative;
}

.Grid--fit > .Grid-cell {
  flex: 1;
}

.Grid--full > .Grid-cell {
  flex: 0 0 100%;
}

.Grid--1of2 > .Grid-cell {
  flex: 0 0 50%;
}

.Grid--1of3 > .Grid-cell {
  flex: 0 0 33.3333%;
}

.Grid--1of4 > .Grid-cell {
  flex: 0 0 25%;
}

@media (min-width: 34rem) {
  .sm-Grid--fit > .Grid-cell {
    flex: 1;
  }
  .sm-Grid--full > .Grid-cell {
    flex: 0 0 100%;
  }
  .sm-Grid--1of2 > .Grid-cell {
    flex: 0 0 50%;
  }
  .sm-Grid--1of3 > .Grid-cell {
    flex: 0 0 33.3333%;
  }
  .sm-Grid--1of4 > .Grid-cell {
    flex: 0 0 25%;
  }
}

@media (min-width: 45rem) {
  .med-Grid--fit > .Grid-cell {
    flex: 1;
  }
  .med-Grid--full > .Grid-cell {
    flex: 0 0 100%;
  }
  .med-Grid--1of2 > .Grid-cell {
    flex: 0 0 50%;
  }
  .med-Grid--1of3 > .Grid-cell {
    flex: 0 0 33.3333%;
  }
  .med-Grid--1of4 > .Grid-cell {
    flex: 0 0 25%;
  }

  .med-Grid-cell--rightSpacer-twoUp {
      margin-right: var(--scale-two-up);
  }

  .med-Grid-cell--moveLeft {
      margin-right: auto;
  }

  .med-Grid-cell {
    flex: 1;
  }

  .med-Grid-cell-overflowHidden {
      overflow: hidden;
  }
  
}

@media (--break-lg) {
  .large-Grid--fit > .Grid-cell {
    flex: 1;
  }
  .large-Grid--full > .Grid-cell {
    flex: 0 0 100%;
  }
  .large-Grid--1of2 > .Grid-cell {
    flex: 0 0 50%;
  }
  .large-Grid--1of3 > .Grid-cell {
    flex: 0 0 33.3333%;
  }
  .large-Grid--1of4 > .Grid-cell {
    flex: 0 0 25%;
  }
}

.Grid--gutters {
    margin-left: calc(var(--scale-default) * -1);
    margin-right: calc(var(--scale-default) * -1);
}

.Grid--gutters > .Grid-cell {
    padding-left: var(--scale-default);
    padding-right: var(--scale-default);
}

.Grid--guttersLg {
    margin-left: calc(var(--scale-one-up) * -1);
    margin-right: calc(var(--scale-one-up) * -1);
}

.Grid--guttersLg > .Grid-cell {
    padding-left: var(--scale-one-up);
    padding-right: var(--scale-one-up);
}

.Grid--guttersXl {
    margin-left: calc(var(--scale-two-up) * -1);
    margin-right: calc(var(--scale-two-up) * -1);
}

.Grid--guttersXl > .Grid-cell {
    padding-left: var(--scale-two-up);
    padding-right: var(--scale-two-up);
}

@media (--break-sm) {

    .small-Grid--gutters {
        margin-left: calc(var(--scale-default) * -1);
        margin-right: calc(var(--scale-default) * -1);
    }

    .small-Grid--gutters > .Grid-cell {
        padding-left: var(--scale-default);
        padding-right: var(--scale-default);
    }

    .small-Grid--guttersLg {
        margin-left: calc(var(--scale-one-up) * -1);
        margin-right: calc(var(--scale-one-up) * -1);
    }

    .small-Grid--guttersLg > .Grid-cell {
        padding-left: var(--scale-one-up);
        padding-right: var(--scale-one-up);
    }

    .small-Grid--guttersXl {
        margin-left: calc(var(--scale-two-up) * -1);
        margin-right: calc(var(--scale-two-up) * -1);
    }

    .small-Grid--guttersXl > .Grid-cell {
        padding-left: var(--scale-two-up);
        padding-right: var(--scale-two-up);
    }
}

@media (--break-md) {

    .med-Grid--gutters {
        margin-left: calc(var(--scale-default) * -1);
        margin-right: calc(var(--scale-default) * -1);
    }

    .med-Grid--gutters > .Grid-cell {
        padding-left: var(--scale-default);
        padding-right: var(--scale-default);
    }

    .med-Grid--guttersLg {
        margin-left: calc(var(--scale-one-up) * -1);
        margin-right: calc(var(--scale-one-up) * -1);
    }

    .med-Grid--guttersLg > .Grid-cell {
        padding-left: var(--scale-one-up);
        padding-right: var(--scale-one-up);
    }

    .med-Grid--guttersXl {
        margin-left: calc(var(--scale-two-up) * -1);
        margin-right: calc(var(--scale-two-up) * -1);
    }

    .med-Grid--guttersXl > .Grid-cell {
        padding-left: var(--scale-two-up);
        padding-right: var(--scale-two-up);
    }

}

@media (--break-lg) {

    .large-Grid--gutters {
        margin-left: calc(var(--scale-default) * -1);
        margin-right: calc(var(--scale-default) * -1);
    }

    .large-Grid--gutters > .Grid-cell {
        padding-left: var(--scale-default);
        padding-right: var(--scale-default);
    }

    .large-Grid--guttersLg {
        margin-left: calc(var(--scale-one-up) * -1);
        margin-right: calc(var(--scale-one-up) * -1);
    }

    .large-Grid--guttersLg > .Grid-cell {
        padding-left: var(--scale-one-up);
        padding-right: var(--scale-one-up);
    }

    .large-Grid--guttersXl {
        margin-left: calc(var(--scale-two-up) * -1);
        margin-right: calc(var(--scale-two-up) * -1);
    }

    .large-Grid--guttersXl > .Grid-cell {
        padding-left: var(--scale-two-up);
        padding-right: var(--scale-two-up);
    }

}