
/* A combination of normalize.css and reboot.css by Boostrap. */
html {
    font-family: sans-serif;
 /* 1 */
    -ms-text-size-adjust: 100%;
 /* 2 */
    -webkit-text-size-adjust: 100%;
 /* 2 */
    box-sizing: border-box;
    -ms-overflow-style: scrollbar;
  /* Changes the default tap highlight to be completely transparent in iOS. */
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

@-webkit-viewport {
    width: device-width;
}

@-moz-viewport {
    width: device-width;
}

@-ms-viewport {
    width: device-width;
}

@-o-viewport {
    width: device-width;
}

@viewport {
    width: device-width;
}

/**
 * Remove default margin.
 */

body {
    margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */

/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
    display: block;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
    display: none;
    height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */

[hidden],
.hidden,
template {
    display: none !important;
}

/* Links
   ========================================================================== */

/**
 * Remove the gray background color from active links in IE 10.
 */

a {
    background-color: transparent;
}

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */

a:active,
a:hover {
    outline: 0;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove border when inside `a` element in IE 8/9/10.
 */

img {
    border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */

svg:not(:root) {
    overflow: hidden;
}

/* Forms
   ========================================================================== */

/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */

/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */

button,
input,
select,
textarea {
    color: inherit;
 /* 1 */
    font: inherit;
 /* 2 */
    margin: 0;
 /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */

button {
    overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */

button,
select {
    text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */

button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
 /* 2 */
    cursor: pointer;
 /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */

button[disabled],
html input[disabled] {
    cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

input {
    line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box;
 /* 1 */
    padding: 0;
 /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */

input[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  box-sizing: content-box; /* 2 */
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* Suppress the focus outline on elements that cannot be accessed via keyboard.
 This prevents an unwanted focus outline from appearing around elements that
 might still respond to pointer events.

 Credit: https://github.com/suitcss/base */
[tabindex="-1"]:focus {
  outline: none !important;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-size: inherit;
}

p {
    margin: 0;
    padding: 0;
}

ol,
ul,
dl {
    margin: 0;
    padding: 0;
}

ol ol,
ul ul,
ol ul,
ul ol {
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
    display: block;
}


/* iOS "clickable elements" fix for role="button"

 Fixes "clickability" issue (and more generally, the firing of events such as focus as well)
 for traditionally non-focusable elements with role="button"
 see https://developer.mozilla.org/en-US/docs/Web/Events/click#Safari_Mobile */
[role="button"] {
  cursor: pointer;
}


/* Avoid 300ms click delay on touch devices that support the `touch-action` CSS property.

 In particular, unlike most other browsers, IE11+Edge on Windows 10 on touch devices and IE Mobile 10-11
 DON'T remove the click delay when `<meta name="viewport" content="width=device-width">` is present.
 However, they DO support removing the click delay via `touch-action: manipulation`.
 See:
 * http://v4-alpha.getbootstrap.com/content/reboot/#click-delay-optimization-for-touch
 * http://caniuse.com/#feat=css-touch-action
 * http://patrickhlauke.github.io/touch/tests/results/#suppressing-300ms-delay */
a,
area,
button,
[role="button"],
input,
label,
select,
summary,
textarea {
    touch-action: manipulation;
}

label {
    display: inline-block;
    margin-bottom: 0;
}

/* Work around a Firefox/IE bug where the transparent `button` background
  results in a loss of the default `button` focus styles.

  Credit: https://github.com/suitcss/base/ */
button:focus {
    outline: 1px dotted;
    outline: 5px auto -webkit-focus-ring-color;
}

input,
button,
select,
textarea {
    margin: 0;
    line-height: inherit;
    border-radius: 0;
    padding: 0;
}

textarea {
    border: none;
    overflow: auto;
    outline: none;
    box-shadow: none;
    display: block;
    width: 100%;
    background-color: transparent;
    resize: none;
    min-height: var(--scale-one-up);
}

input[type="search"] {
    -webkit-appearance: none;
}

/* Always hide an element with the `hidden` HTML attribute (from PureCSS). */
[hidden] {
    display: none !important;
}