.u-vspace-default {
    margin-bottom: var(--scale-default);
}

.u-vspace-oneUp {
    margin-bottom: var(--scale-one-up);
}

.u-vspace-twoUp {
    margin-bottom: var(--scale-two-up);
}

.u-vspace-threeUp {
    margin-bottom: var(--scale-three-up);
}

.u-vspace-fourUp {
    margin-bottom: var(--scale-four-up);
}

.u-vspace-oneDown {
    margin-bottom: var(--scale-one-down);
}

.u-vspace-twoDown {
    margin-bottom: var(--scale-two-down);
}

.u-hspace-oneDown {
    margin-right: var(--scale-one-down);
}

.u-hspace-twoDown {
    margin-right: var(--scale-two-down);
}

.u-hidden-xs-down {
    display: none;
}

.u-hidden-sm-down {
    display: none;
}

.u-visibility-hidden {
    visibility: hidden;
}

.u-overflowHidden {
    overflow: hidden;
}

.u-alignCenter {
    align-self: center;
}

.u-xs-push-oneUp {
    padding-left: var(--scale-one-up) !important;
}

@media (min-width: 34rem) {
    .u-hidden-xs-down {
        display: block;
    }
}

@media (min-width: 45rem) {
    .u-med-push-threeUp {
        padding-left: var(--scale-three-up) !important;
    }

    .u-hidden-sm-down {
        display: block;
    }
}
